# Directories
bin/
obj/
lib/
se/

# vs
*.user
.vs/
*.vcxproj
*.filters
*.sln

# vscode
.vscode/ipch

# codeblocks
*.layout
*.depend
*.cscope_file_list
*.save-failed

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch