# Directories
/bin/
obj/

Makefile
!.makefiles/makefile

# vs
*.user
.vs/
*.vcxproj
*.filters
*.sln

# vscode
.vscode/ipch

# codeblocks
*.layout
*.depend
*.cscope_file_list
*.save-failed

# Precompiled Headers
*.gch
*.pch